/*html {
  height: 100vh;
}
*/
body {
	/* Background image */
	/*background-image: linear-gradient(180deg,#edeff5 10%,#99dec1 100%);*/
	/*min-height: 100vh;*/
}

.bg-white {
    background-color: #1a1b1a!important;
}

#site-logo-x {
	width: 100px;height: auto;
}

.active-nav-link-x {
	background-color: gray;
}

